@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');

.bg{
    background-image:url(../Images/Bg-Mem.png);
    background-position:center;
    background-size:cover;
    height:400px;
}

.reason{
    font-family: 'Lora', serif;
    line-height: 80px;
    font-size: 60px;
}
.list{
    font-family: serif;
    font-size:20px;
    line-height:40px;
    list-style-type: disc;
}
.plan{
    font-family: 'Lora', serif;
    font-size: 30px;
}
.plan1{
    font-family: 'Lora', serif;
    font-size: 40px;
}
.memb-body{
    font-family: 'poppins';
    color: rgb(88, 88, 88);
}
ul{
    list-style: none;
    line-height: 40px;
}
.rounded-p{
    width: 75px;
    height: 65px;
    
}
.img1 {
    position: relative;
    z-index: 1;
  }
  
  .img2 {
    position: relative;
    z-index: 2;
    left: -38px;
  }
  .img3 {
    position: relative;
    z-index: 2;
    left: -76px;
  }
  .img4 {
    position: relative;
    z-index: 2;
    left: -114px;
  }
  .img5 {
    position: relative;
    z-index: 2;
    left: -151px;
  }
  .img6 {
    position: relative;
    z-index: 2;
    left: -188px;
  }
.comma img{
    width: 30px;
    height: 30px;
}
.comment{
    width:70px;
    height:60px;
}
.bg-p{
    background-color: rgb(98, 63, 255);
}

.email{
    width:380px;
    border-radius:5px;
}
.btnc{
    background-color:rgb(150, 151, 151);
    border-radius:5px;
}
.wedoo{
    color: rgb(17, 56, 231);
    font-weight:normal;
}
@media only screen and (max-width: 1200px) {
    .bg{
        background-image:url(../Images/Bg-Mem.png);
        background-position:center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .reason{
        font-size: 50px;
        line-height: 60px;
    }
    .list{
        font-family: 'poppins';
        font-size:15px;
        line-height:30px;
    }
    .comment{
        width:70px;
        height:60px;
    }
}
@media only screen and (max-width: 1000px){
    .reason{
        font-size: 35px;
        line-height: 45px;
    }
    .list{
        font-family: 'poppins';
        font-size:15px;
        line-height:23px;
    }
    .comment{
        width: 55px;
        height:45px;
    }
    .comment{
        font-size:52px;
    }
    .rounded-p{
        width: 55px;
        height: 35px;
        
    }
    .adam{
        font-size:17px;
    }
    /* .adamv{
        padding-left: 50px;
    } */
    .star{
        width: 1em;
        height: 1em;
    }
}
@media only screen and (max-width: 700px){
    .reason{
        font-size: 20px;
        line-height: 35px;
    }
    .list{
        font-family: serif;
        font-size:15px;
        line-height:20px;
    }
    .bg{
        background-image:url(../Images/Bg-Mem.png);
        background-position:center;
        background-size:cover;
        height:300px;
    }
    
    .comment{
        width:60px;
        height:50px;
    }
    .rounded-p{
        width: 55px;
        height: 35px;
        
    }
    .adam{
        font-size:20px;
    }
    .adamv{
        padding-left: 5px;
    }
    .email{
        width:100%;
    }
    .star{
        width: 1.4em;
        height: 1.4em;
    }
}
@media only screen and (min-width: 350px)and (max-width: 550px){
    .reason{
        font-size: 1em;
        line-height: 1.3em;
        
    }
    .list{
        font-size:.9em;
        line-height:1.2em;
    }
}
