@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.font{
    font-family: 'Concert One', cursive;
    font-size:40px;
}
.dot{
    font-family: 'Poppins', sans-serif;
}